/PaperRound/obj/x86/Debug/App.g.cs
/PaperRound/obj/x86/Debug/App.g.i.cs
/PaperRound/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/PaperRound/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PaperRound/obj/x86/Debug/MainWindow.baml
/PaperRound/obj/x86/Debug/MainWindow.g.cs
/PaperRound/obj/x86/Debug/MainWindow.g.i.cs
/PaperRound/obj/x86/Debug/MultiWallpaper.Properties.Resources.resources
/PaperRound/obj/x86/Debug/MultiWallpaper.csproj.FileListAbsolute.txt
/PaperRound/obj/x86/Debug/MultiWallpaper.csproj.GenerateResource.Cache
/PaperRound/obj/x86/Debug/MultiWallpaper.exe
/PaperRound/obj/x86/Debug/MultiWallpaper.g.resources
/PaperRound/obj/x86/Debug/MultiWallpaper.pdb
/PaperRound/obj/x86/Debug/MultiWallpaper_Content.g.i.cs
/PaperRound/obj/x86/Debug/MultiWallpaper_MarkupCompile.cache
/PaperRound/obj/x86/Debug/MultiWallpaper_MarkupCompile.i.cache
/PaperRound/obj/x86/Debug/PaperRound.csproj.FileListAbsolute.txt
/PaperRound/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/PaperRound/obj/x86/Release/App.g.cs
/PaperRound/obj/x86/Release/App.g.i.cs
/PaperRound/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/PaperRound/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/PaperRound/obj/x86/Release/MainWindow.baml
/PaperRound/obj/x86/Release/MainWindow.g.cs
/PaperRound/obj/x86/Release/MainWindow.g.i.cs
/PaperRound/obj/x86/Release/MultiWallpaper.Properties.Resources.resources
/PaperRound/obj/x86/Release/MultiWallpaper.csproj.FileListAbsolute.txt
/PaperRound/obj/x86/Release/MultiWallpaper.csproj.GenerateResource.Cache
/PaperRound/obj/x86/Release/MultiWallpaper.exe
/PaperRound/obj/x86/Release/MultiWallpaper.g.resources
/PaperRound/obj/x86/Release/MultiWallpaper.pdb
/PaperRound/obj/x86/Release/MultiWallpaper_MarkupCompile.cache
/PaperRound/obj/x86/Release/MultiWallpaper_MarkupCompile.i.cache
/PaperRound/obj/x86/Release/PaperRound.csproj.FileListAbsolute.txt
/PaperRound/obj/x86/Release/PaperRound.csproj.GenerateResource.Cache
/PaperRound/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/PaperRound/PaperRound.csproj.user
/PaperRound/bin/Debug/MultiWallpaper.vshost.exe
/PaperRound/bin/Debug/MultiWallpaper.vshost.exe.manifest
/PaperRound/bin/Release/MultiWallpaper.pdb
/PaperRound/bin/Release/MultiWallpaper.vshost.exe
/PaperRound/bin/Release/MultiWallpaper.vshost.exe.manifest
/PaperRound.suo
